.content {
    margin: 0;
    padding: 6;
    background-color: lightgrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    height: 200px;
}

.contxt {
    background-color: #fff;
}

.contxt>h1,
p {
    margin: 4px;
    font-size: 16px;
}